@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
}

body {
  background-color: #f7f7f7;
  color: #191919;
}

.glitch:before {
  position: absolute;
  content: "shoes";
  color: #7743db;
  transform: translate(4px, 4px);
  z-index: -1;
}

.glitch-v2:before {
  position: absolute;
  content: "bests";
  color: #7743db;
  transform: translate(2px, 2px);
  z-index: -1;
}

img {
  user-select: none;
  -webkit-user-drag: none;
}

.infinite-scroll::before {
  position: absolute;
  content: "-";
  color: #7743db;
  transform: translate(4px, 4px);
  z-index: -1;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}